* { /*universal selector*/
    border: 1px solid red; /*for guidance only, remove when layout done*/
}

/*--------------------------------- START PAGE ---------------------------------*/

.start-page { /*parent container*/

    background-image: url("/images/astronaut.jpg");
    background-color: rgb(197, 197, 197); /*fallback color if background image fails to load*/
    background-size: cover; /*resizes the image to cover the container*/
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /*100% viewport height*/
    position: relative;
    font-family: 'Rubik', sans-serif;
}

header {
    position: fixed;
    right: 0px;
    top: 0px;
}

.start-page-box { 
    position: absolute;
    top: 60px;
    left: 60px;
}

.start-page-box h1 {
    text-transform: uppercase;
}

.cookies { 
    min-width: 100vw;
    position: fixed;
    bottom: 0px;
    color: #D200A2; 
}

/*TO DO: add arrow to .start-page-box*/
/*TO DO: add centered arrow to page bottom*/
/*TO DO: fix menu*/
/*TO DO: add glow to .cookies text and adjust layout of text/button*/

/*----------------------------------- PAGE 2 ----------------------------------*/

.page-2 { /*parent container*/
    background-image: url("/images/galaxy.jpg");
    background-color: rgb(45, 45, 45); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.main-quote, .desktop-quote {
    font-style: italic;
}

/*.space-ventures-heading span:first-of-type { 
}*/
.space-ventures-heading span:last-of-type { /*selects the last span element in .space-ventures-heading*/
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color: lightgrey;
}

.page-2-right a { 
    color: #D200A2;
}

/*TO DO: fix positioning of words in heading text*/
/*TO DO: adjust quotation marks for .main-quote*/
/*TO DO: add gradient color for desktop-quote and hide in mobile version*/
/*TO DO: add arrow to link*/

/*------------------------------- MEDIA QUERIES -------------------------------*/

/*desktop*/
@media screen and (min-width: 1024px) {
    .page-2 {
        display: flex;
    }
    .page-2-left, .page-2-right {
        width: 50%;
    }
}

/*TO DO: show desktop-quote in desktop version*/
/*TO DO: adjust text size*/
/*TO DO: add major tom image in desktop version*/