/* * { 
    border: 1px solid red; 
} */ 
* { 
   box-sizing: border-box; /*to include padding/border in all elements total width/height*/
} 

/*--------------------------------- START PAGE ---------------------------------*/

.start-page { /*parent container*/
    background-image: url("/images/astronaut.jpg");
    background-color: rgb(197, 197, 197); /*fallback color if background image fails to load*/
    background-size: cover; /*resizes the image to cover the container*/
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /*100% viewport height*/
    position: relative;
    font-family: 'Rubik', sans-serif; 
}

header {
    position: fixed;
    right: 0px;
    top: 0px;
}

.start-page-box { /*parent container*/
    position: absolute;
    top: 60px;
    left: 45px;
    width: 9em;
    height: 10em;
    border: 0.2em solid black;
    background-color: rgba(255, 255, 255, 0.5); /*0.5 makes color half transparent*/
    padding: 10px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-page-box h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.start-page-box a {
    text-decoration: none; /*to remove underline*/
    color: black;
    font-size: 0.75rem;
}

.cookies { /*parent container*/
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgb(0, 0, 30);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /*defines gap size between rows/columns*/
}

.cookies p {
    color: #D200A2;
    text-shadow: 0 0 5px #D200A2, 0 0 10px #D200A2; /*creates glowing effect, text-shadow: [x-offset] [y-offset] [blur-radius] [color];*/
    margin: 0; 
    font-size: 0.75rem;
}

.cookies button {
    background-color: rgb(0, 0, 120);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 12px; /*top/bottom and right/left*/
    font-size: 0.9rem;
}

/*TO DO: add arrow to .start-page-box*/
/*TO DO: add centered arrow to page bottom*/
/*TO DO: fix menu*/

/*----------------------------------- PAGE 2 ----------------------------------*/

.page-2 { /*parent container*/
    background-image: url("/images/galaxy.jpg");
    background-color: rgb(45, 45, 45);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.main-quote, .desktop-quote {
    font-style: italic;
}

/*.space-ventures-heading span:first-of-type {
}*/
.space-ventures-heading span:last-of-type { /*selects the last span element in .space-ventures-heading*/
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color: lightgrey;
}

.page-2-right a {
    color: #D200A2;
}

/*TO DO: fix positioning of words in heading text*/
/*TO DO: adjust quotation marks for .main-quote*/
/*TO DO: add gradient color for desktop-quote and hide in mobile version*/
/*TO DO: add arrow to link*/

/*------------------------------- MEDIA QUERIES -------------------------------*/

/*desktop*/
@media screen and (min-width: 1024px) {
    .page-2 {
        display: flex;
    }
    .page-2-left, .page-2-right {
        width: 50%;
    }

    .h1-linebreak-mobile { /*to create a different "to the moon" linebreak, display:none to <br> element*/
        display: none; 
    }

    .start-page-box { /*"to the moon" container sizing and position*/
        top: 90px;
        left: 100px;
        width: 24em;
        height: 24em;
        border: 0.3em solid black;
        padding: 10px;
    }
    .start-page-box h1{ /*"to the moon" text sizing*/
        font-size: 6rem;
        margin-top: 60px;
    }
    .start-page-box a { /*"to the moon" link change side and size*/
        text-align: right;
        font-size: 80%;
        font-size: 1rem;
    }

    .cookies p {
        font-size: 1rem;
    }
    .cookies button {
        font-size: 0.9rem;
    }
}

/*TO DO: show desktop-quote in desktop version*/
/*TO DO: adjust text size*/
/*TO DO: add major tom image in desktop version*/