/*------------------------------------------------------------------------------*/
/*------------------------------------ TO DO -----------------------------------*/
/*------------------------------------------------------------------------------*/

/*PAGE 1:*/
/*fix menu, not smooth when opening/closing*/

/*PAGE 2:*/
/*adjust quotation marks for .main-quote*/
/*add major tom image in desktop version*/
/*adjust positioning / text size*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*------------------------------------------------------------------------------*/
/*---------------------------------- UNIVERSAL ---------------------------------*/
/*------------------------------------------------------------------------------*/

/* * {
    border: 1px solid red;
} */
* {
   box-sizing: border-box; /*to include padding/border in all elements total width/height*/
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*------------------------------------------------------------------------------*/
/*--------------------------------- START PAGE ---------------------------------*/
/*------------------------------------------------------------------------------*/

.start-page { /*parent container*/
    background-image: url("/images/astronaut.jpg");
    background-color: rgb(197, 197, 197); /*fallback color if background image fails to load*/
    background-size: cover; /*resizes the image to cover the container*/
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /*100% viewport height*/
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.down-arrow span {
    position: absolute;
    left: 50%;
    bottom: 75px;
    color: white;
    font-size: 2rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
}

/*------------------------------------------------------------------------------*/
/*-------------------------------- HAMBURGER MENU ------------------------------*/
/*------------------------------------------------------------------------------*/

.hamburger-button {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 45px;
    height: 45px;
    background: transparent;
    padding: 0;
    border: none;
    z-index: 3; /*to control order of elements/"layers"*/
    pointer-events: none; /*element will not be target of pointer events/"deactivates" button*/
}

.hamburger-button span { /*to create hamburger button with 3 bars*/
    position: relative;
    left: 0;
    margin-left: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block; /*to be able to apply width/height (default for span is inline)*/
    width: 40px;
    height: 6px;
    background-color: black;
    border: 0.5px solid rgba(225, 225, 225, 0.5); /*to make menu visible on both light and dark background*/
    border-radius: 6px; /*rounded corners*/
}

/*---------- to make hamburger middle bar different + move on hover---------*/
.hamburger-button span:nth-child(2) { 
    margin-left: 0;
    transition: all 0.3s ease-in-out;
}

input:hover + .menu button span:nth-child(2) { 
    left: 6px;
}
/*--------------------------------------------------------------------------*/

input { /*the "invisible" checkbox element to make hamburger button interactive*/
    position: fixed;
    right: 20px;
    top: 20px;
    width: 45px;
    height: 45px;
    z-index: 2;
    opacity: 0; /*to be invisible but keep same functionality*/
    cursor: pointer; /*changes the mouse cursor*/
}

input:checked + .menu button span { /*when input is checked = menu open, + is to select next following element*/
    position: absolute;
    transition: all 0.2s ease-in-out; /*to make transition of X smooth*/
}

input:checked + .menu button span:nth-child(1) { /*selects first span element, bar 1*/
    transform: rotate(45deg) translate(-4.5px, -4.5px); /*to create "close-menu-X", translate to change position*/
}

input:checked + .menu button span:nth-child(2) { /*selects second span element, bar 2*/
    opacity: 0; /*to make middle bar invisible*/
}

input:checked + .menu button span:nth-child(3) { /*selects third span element, bar 3*/
    transform: rotate(-45deg) translate(4.5px, -4.5px); /*to create "close-menu-X", translate to change position*/
}

/*------------------------------------------------------------------------------*/
/*----------------------------------- MENU NAV ---------------------------------*/
/*------------------------------------------------------------------------------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 1;
    visibility: hidden;/*instead of using display: none*/
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 0.5); /*cubic-bezier: transition effect with variable speed from start to end*/
}

input:checked + .menu nav {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

ul { /*parent container of the list items (menu content/links)*/
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none; /*to remove bullet points*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.menu a {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-shadow: 0px 4px 1px rgb(180, 180, 180);
}

/*------------------------------------------------------------------------------*/
/*-------------------------- START PAGE BOX - TO THE MOON ----------------------*/
/*------------------------------------------------------------------------------*/

.start-page-box { /*parent container*/
    position: absolute;
    top: 60px;
    left: 45px;
    width: 9em;
    height: 10em;
    border: 0.2em solid black;
    background-color: rgba(255, 255, 255, 0.5); /*0.5 makes color half transparent*/
    padding: 10px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-page-box h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.start-page-box a {
    text-decoration: none; /*to remove underline*/
    color: black;
    font-size: 0.75rem;
}

.read-our-story-arrow span {
    position: relative;
    top: 3px;
    left: 2px;
    color: black;
    font-size: 0.8rem;
    transition: left 0.4s ease-in-out;
    font-variation-settings: /*google fonts material symbols settings*/
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
}

.read-our-story-arrow:hover span { /*to move arrow on hover*/
    left: 8px;
}

/*------------------------------------------------------------------------------*/
/*------------------------------------ COOKIES ---------------------------------*/
/*------------------------------------------------------------------------------*/

.cookies { /*parent container*/
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgb(0, 0, 30);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /*defines gap size between rows/columns*/
    z-index: 2;
}

.cookies p {
    color: #D200A2;
    text-shadow: 0 0 5px #D200A2, 0 0 10px #D200A2; /*creates glowing effect, text-shadow: [x-offset] [y-offset] [blur-radius] [color];*/
    margin: 0;
    font-size: 0.75rem;
}

.cookies button {
    background-color: rgb(0, 0, 120);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 12px; /*top/bottom and right/left*/
    font-size: 0.9rem;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*------------------------------------------------------------------------------*/
/*----------------------------------- PAGE 2 -----------------------------------*/
/*------------------------------------------------------------------------------*/

.page-2 { /*parent container*/
    background-image: url("/images/galaxy.jpg");
    background-color: rgb(45, 45, 45);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    color: white;
}

/*------------------------------------------------------------------------------*/
/*-------------------------------- SPACE VENTURES ------------------------------*/
/*------------------------------------------------------------------------------*/

.space-ventures-heading {
    margin: 0;
}

.space-ventures-heading span:first-of-type { /*selects the first span element in .space-ventures-heading*/
    display: block;
    position: relative;
    z-index: 1;
    font-size: 4rem;
}
.space-ventures-heading span:last-of-type { /*selects the last span element in .space-ventures-heading*/
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: -45px;
    left: 8px;
    z-index: 0;
    font-size: 5rem;
}

/*------------------------------------------------------------------------------*/
/*-------------------------- GROUND CONTROL TO MAJOR TOM -----------------------*/
/*------------------------------------------------------------------------------*/

.page-2-left h2 { /*heading - Ground control to Major Tom */
    font-size: 1rem;
}

.page-2-left p { /*text - Ground control to Major Tom*/
    font-size: 0.8rem;
    line-height: 1.8;
}

/*------------------------------------------------------------------------------*/
/*--------------------------------- MAIN QUOTE ---------------------------------*/
/*------------------------------------------------------------------------------*/

.main-quote {
    font-style: italic;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    position: relative;
    margin: 10px;
    display: inline;
}

.main-quote::before { /*pseudo element*/
    position: absolute;
    content: open-quote;
    top: -3px;
    left: -3px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
  }

  .main-quote::after {
    position: absolute;
    content: close-quote;
    bottom: -3px;
    right: 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
  }

/*------------------------------------------------------------------------------*/
/*-------------------------------- DESKTOP QUOTE -------------------------------*/
/*------------------------------------------------------------------------------*/

.desktop-quote {
    display: none; /*to hide in mobile version*/
    font-style: italic;
    font-size: 1.8rem;
    background: #D200A2;
    background: -webkit-linear-gradient(to bottom right, #D200A2 0%, #B0B0B0 50%, #D200A2 100%);
    background: -moz-linear-gradient(to bottom right, #D200A2 0%, #B0B0B0 50%, #D200A2 100%);
    background: linear-gradient(to bottom right, #D200A2 0%, #B0B0B0 50%, #D200A2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.35;
    margin: 0;
}

.desktop-quote::before { /*pseudo element*/
    content: no-open-quote;
}

.desktop-quote::before { /*pseudo element*/
    content: no-close-quote;
}

/*------------------------------------------------------------------------------*/
/*------------------------ TEXT - AM I SITTING IN A TIN CAN... -----------------*/
/*------------------------------------------------------------------------------*/

.page-2-right p {
    font-size: 0.8rem;
    line-height: 1.8;
}

/*------------------------------------------------------------------------------*/
/*-------------------------------- MAJOR TOM IMAGE -----------------------------*/
/*------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------*/
/*------------------------------- LINK - READ MORE -----------------------------*/
/*------------------------------------------------------------------------------*/

.page-2-right a {
    color: #D200A2;
    font-size: 0.8rem;
}

.read-more-about-arrow span {
    position: relative;
    top: 2px;
    left: 2px;
    color: #D200A2;
    font-size: 0.9rem;
    transition: left 0.4s ease-in-out;
    font-variation-settings: /*google fonts material symbols settings*/
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
}

.read-more-about-arrow:hover span { /*to move arrow on hover*/
    left: 8px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*------------------------------------------------------------------------------*/
/*-------------------------------- @ MEDIA QUERIES -----------------------------*/
/*------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------*/
/*--------------------- @ SMALLER THAN DESKTOP SCREEN SIZE ---------------------*/
/*------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {

/*------------------ MENU NAV / START PAGE BOX - TO THE MOON -------------------*/

    input:checked + .menu { /*to hide/cover "to the moon"-box when menu open in mobile*/
        background-image: url("/images/astronaut.jpg");
        background-color: rgb(197, 197, 197); 
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh; 
        position: relative;
        z-index: 1;
    }
}
/*------------------------------------------------------------------------------*/
/*--------------------------------- @ DESKTOP ----------------------------------*/
/*------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) {

/*---------------------------------- START PAGE --------------------------------*/
.down-arrow span { /*change size of center/bottom arrow*/
    font-size: 2.5rem;
}
/*-------------------------- START PAGE BOX - TO THE MOON ----------------------*/

.h1-linebreak-mobile { /*to create a different "to the moon" linebreak, display:none to <br> element*/
    display: none;
}
.start-page-box { /*"to the moon" container sizing and position*/
    top: 90px;
    left: 100px;
    width: 24em;
    height: 24em;
    border: 0.3em solid black;
    padding: 10px;
}
.start-page-box h1{ /*"to the moon" text sizing*/
    font-size: 6rem;
    margin-top: 60px;
}
.start-page-box a { /*"to the moon" link change side and size*/
    text-align: right;
    font-size: 80%;
    font-size: 1rem;
    margin-right: 8px;
}
.read-our-story-arrow span { /*read our story arrow change size*/
    font-size: 1.1rem;
}

/*----------------------------------- MENU NAV ---------------------------------*/

.menu a {
    font-size: 3.8rem;
    line-height: 1.3; /*unitless = multiplies by elements font size */
    margin-bottom: 0px;
    margin-top: 0;
}
.menu a:hover {
    border-bottom: 7px solid #D200A2; /*to create text underline without shadow*/
}
/*------------------------------------ COOKIES ---------------------------------*/

.cookies p {
    font-size: 1rem;
}
.cookies button {
    font-size: 0.9rem;
}
/*----------------------------------- PAGE 2 -----------------------------------*/
    .page-2 {
        display: flex; 
        gap: 150px; /*gap between left and right section*/
        padding: 65px
    }
    .page-2-left, .page-2-right {
        width: 50%;
    }

    .desktop-quote {
        display: block; /*to show in desktop version*/
    }
}

